wa-tree {
  --indent-guide-width: 1px;
  --indent-size: var(--wa-space-m);
}

wa-tree-item {
  &::part(label),
  a {
    width: 100%;
    word-break: break-all;
    padding-right: 0.3rem;
  }

  a {
    text-decoration: none;
    color: var(--wa-color-text-normal);

    &:hover {
      color: var(--wa-color-text-link);
    }
  }

  &[selected]::part(item) {
    background-color: transparent;
    border-inline-start-color: transparent;
  }

  .selected::part(item) {
    background-color: var(--wa-color-neutral-fill-quiet);
    border-inline-start-color: var(--wa-color-brand-fill-loud);
  }
}
