main {
  height: 100vh;
}

.auth-card {
  h1 {
    font-size: var(--wa-font-size-2xl);
    margin-bottom: 4px;
  }

  a {
    white-space: nowrap;
  }

  width: clamp(300px, 90vw, 800px);
  padding: 0.5rem 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}

wa-input {
  &::part(hint) {
    min-height: 1.7rem;
    display: block;
    font-weight: 600;
  }
}

wa-input.invalid {
  &::part(base) {
    outline-color: var(--wa-color-danger);
    border-color: var(--wa-color-danger);
  }

  &::part(hint),
  .form-validity-icon {
    color: var(--wa-color-danger-60);
  }
}

wa-input.valid {
  &::part(base) {
    outline-color: var(--wa-color-success);
    border-color: var(--wa-color-success);
  }

  &::part(hint),
  .form-validity-icon {
    color: var(--wa-color-success-70);
  }
}
