header,
nav {
  --border: 2px solid var(--wa-color-surface-border);
}

header {
  border-bottom: var(--border);
  padding: var(--wa-space-m) var(--wa-space-2xl);

  p {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
  }

  #sign-out-btn {
    font-size: 1.5rem;

    &::part(base):hover {
      color: var(--wa-color-danger-on-quiet);
    }
  }
}

@media (min-width: 768px) {
  nav {
    border-right: var(--border);
    padding: var(--wa-space-m) var(--wa-space-l);
  }
}
