header,
nav {
  --border: 3px solid var(--wa-color-surface-border);
  background-color: var(--wa-color-surface-raised);
}

header {
  border-bottom: var(--border);
  padding: var(--wa-space-m) var(--wa-space-2xl);

  p {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
  }

  #sign-out-btn {
    font-size: 1.7rem;

    &::part(base):hover {
      color: var(--wa-color-danger-on-quiet);
    }
  }
}

nav {
  border-right: var(--border);
}
