.item-header {
  padding-inline: var(--wa-form-control-padding-inline);
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.item-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr repeat(2, minmax(max-content, 2fr));
  align-items: center;
  gap: 1rem;
}

.item {
  width: 100%;
  background-color: var(--wa-color-surface-raised);

  &::part(base):hover {
    color: var(--wa-color-brand-on-quiet);
    border-color: var(--wa-color-brand-border-loud);
    background-color: var(--wa-color-brand-fill-quiet);
  }

  &::part(label) {
    width: 100%;
  }
}

.item-col-name {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  min-width: 0;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.no-items-text {
  margin-top: 3rem;
}
