<!DOCTYPE html>
<html lang="en" class="wa-dark wa-theme-default wa-brand-yellow wa-warning-purple">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - File Uploader</title>
    <link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.10.0/styles/webawesome.css" />
    <script type="module" src="https://ka-f.webawesome.com/webawesome@3.10.0/webawesome.loader.js"></script>

    <% if (isProd) { %>
      <link rel="stylesheet" href="/assets/auth.css" />
      <script type="module" src="/assets/auth.js"></script>
    <% } else { %>
      <script type="module" src="/src/client/entries/auth.js"></script>
    <% } %>
  </head>
  <body>
    <main>