<%# New File %>
<wa-dialog label="Upload New File" id="new-file-dialog">
  <form action="/item/create/file" method="post" id="new-file-form">
    <input type="file" name="file" required />
  </form>
  <wa-button
    appearance="outlined"
    variant="danger"
    data-dialog="close"
    slot="footer"
    >Close</wa-button
  >
  <wa-button type="submit" form="new-file-form" variant="brand" slot="footer"
    >Upload</wa-button
  >
</wa-dialog>

<%# New Folder %>
<wa-dialog label="Create New Folder" id="new-folder-dialog">
  <form
    action="/item/create/folder/<%= folderId %>"
    method="post"
    id="new-folder-form"
  >
    <wa-input label="Name" name="name" required></wa-input>
  </form>
  <wa-button
    appearance="outlined"
    variant="danger"
    data-dialog="close"
    slot="footer"
    >Close</wa-button
  >
  <wa-button type="submit" form="new-folder-form" variant="brand" slot="footer"
    >Create</wa-button
  >
</wa-dialog>
