<%# New File %>
<wa-dialog label="Upload New File" id="new-file-dialog" light-dismiss>
  <form
    action="/item/create/file/<%= folderId %>"
    method="post"
    id="new-file-form"
    enctype="multipart/form-data"
  >
    <input type="file" name="file" required />
  </form>
  <wa-button
    class="close-btn"
    appearance="outlined"
    variant="neutral"
    data-dialog="close"
    slot="footer"
    >Cancel</wa-button
  >
  <wa-button type="submit" form="new-file-form" variant="brand" slot="footer"
    >Upload</wa-button
  >
</wa-dialog>

<%# New Folder %>
<wa-dialog label="Create New Folder" id="new-folder-dialog" light-dismiss>
  <form
    action="/item/create/folder/<%= folderId %>"
    method="post"
    id="new-folder-form"
  >
    <wa-input label="Name" name="name" required></wa-input>
  </form>
  <wa-button
    class="close-btn"
    appearance="outlined"
    variant="neutral"
    data-dialog="close"
    slot="footer"
    >Cancel</wa-button
  >
  <wa-button type="submit" form="new-folder-form" variant="brand" slot="footer"
    >Create</wa-button
  >
</wa-dialog>

<%# Delete Folder %>
<wa-dialog label="Delete Folder" id="delete-folder-dialog" light-dismiss>
  <form
    action="/item/delete/<%= folderId %>"
    method="post"
    id="delete-folder-form"
  >
    <p>Are you sure you want to delete this folder and all of its contents?</p>
  </form>
  <wa-button
    class="close-btn"
    appearance="outlined"
    variant="neutral"
    data-dialog="close"
    slot="footer"
    >Cancel</wa-button
  >
  <wa-button
    type="submit"
    form="delete-folder-form"
    variant="brand"
    slot="footer"
    >Delete</wa-button
  >
</wa-dialog>

<%# Delete File %>
<wa-dialog label="Delete File" id="delete-file-dialog" light-dismiss>
  <form action="#" method="post" id="delete-file-form">
    <p>Are you sure you want to delete this file?</p>
  </form>
  <wa-button
    class="close-btn"
    appearance="outlined"
    variant="neutral"
    data-dialog="close"
    slot="footer"
    >Cancel</wa-button
  >
  <wa-button
    type="submit"
    form="delete-file-form"
    variant="danger"
    appearance="filled"
    data-dialog="open delete-file-dialog"
    slot="footer"
  >
    <wa-icon name="trash-can"></wa-icon>
    Delete
  </wa-button>
</wa-dialog>

<%# File Info %>
<wa-dialog label="File Information" id="file-dialog" light-dismiss>
  <div>
    <p><strong>Name:</strong> <span id="dialog-file-name"></span></p>
    <p><strong>Size:</strong> <span id="dialog-file-size"></span></p>
    <p><strong>Created:</strong> <span id="dialog-file-created"></span></p>
  </div>
  <wa-button
    class="close-btn"
    appearance="outlined"
    variant="neutral"
    data-dialog="close"
    slot="footer"
    >Close</wa-button
  >

  <div slot="footer" class="file-dialog-footer-right">
    <wa-button
      variant="danger"
      appearance="filled"
      data-dialog="open delete-file-dialog"
    >
      <wa-icon name="trash-can"></wa-icon>
      Delete
    </wa-button>
    <wa-button variant="brand" href="#" id="dialog-download-btn">
      <wa-icon name="download"></wa-icon>
      Download
    </wa-button>
  </div>
</wa-dialog>
