<!DOCTYPE html>
<html lang="en" class="wa-dark wa-theme-default wa-brand-yellow wa-warning-purple">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title ? `${title} - File Uploader` : "File Uploader" %></title>
  <link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.10.0/styles/webawesome.css" />
  <script type="module" src="https://ka-f.webawesome.com/webawesome@3.10.0/webawesome.loader.js"></script>
  <%- include("entry-loader", { entry: "dashboard"} ) %>
</head>
<body>
  <wa-page>
    <header slot="header">
      <p>File Uploader</p>

      <form action="sign-out" method="post">
        <wa-button type="submit" appearance="plain" id="sign-out-btn">
          <wa-icon name="arrow-right-from-bracket" label="sign out"></wa-icon>
        </wa-button>
      </form>
    </header>
