<div class="item-header item-grid">
    <span class="item-col-name">Name</span>
    <span class="item-col">Size</span>
    <span class="item-col">Updated</span>
</div>

<% if (locals.items?.length > 0) { %>
  <% locals.items.forEach((item) => { %>
    <wa-button appearance="outlined" href="/dashboard/<%= item.id %>" class="item">
      <span class="item-grid">
        <span class="item-col-name">
          <wa-icon name="folder"></wa-icon>
          <p><%= item.name %></p>
        </span>
        <span class="item-col"><%= item.size || "--" %></span>
        <span class="item-col"><%= helpers.formatDate(item.createdAt) %></span>
      </span>
    </wa-button>
  <% }); %>
<% } else { %>
  <% if (folderId === undefined) { %>
    <p class="no-items-text wa-color-text-quiet">No items yet. Upload a file or create a folder to get started.</p>
    <% } else {%>
    <p class="no-items-text wa-color-text-quiet">Folder is empty.</p>
  <% } %>
<% } %>