<wa-dialog label="Create New Folder" id="new-folder-dialog">
  <form action="/item/create/folder/<%= folderId %>" method="post" id="new-folder-form">
    <wa-input label="Name" name="name" required></wa-input>
  </form>
  <wa-button
    appearance="outlined"
    variant="danger"
    data-dialog="close"
    slot="footer"
    >Close</wa-button
  >
  <wa-button type="submit" form="new-folder-form" variant="brand" slot="footer"
    >Create</wa-button
  >
</wa-dialog>
