<%- include("partials/header") %>

<nav slot="navigation-header">
  <wa-button appearance="outlined" variant="brand" id="new-folder-btn">
    <wa-icon name="folder-plus"></wa-icon>
    New Folder
  </wa-button>
  <wa-button appearance="outlined" variant="brand" id="new-file-btn">
    <wa-icon name="file-circle-plus"></wa-icon>
    New File
  </wa-button>
</nav>

<nav slot="navigation"></nav>

<main></main>

<%- include("partials/footer") %>
