<!DOCTYPE html>
<html lang="en" class="wa-dark wa-theme-default wa-brand-yellow wa-warning-purple">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title ? `${title} - File Uploader` : "File Uploader" %></title>
  <link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.10.0/styles/webawesome.css" />
  <script type="module" src="https://ka-f.webawesome.com/webawesome@3.10.0/webawesome.loader.js"></script>
  <%- include("partials/entry-loader", { entry: "error"} ) %>
</head>
<body>
  <main style="gap: 2rem;">
    <p class="wa-heading-5xl"><%= statusCode %></p>
    <p class="wa-body-3xl"><%= errorMessage %></p>
    <wa-button variant="brand" size="xl" href="/dashboard">Home</wa-button>
  </main>
</body>
</html>